
html, body, #mainContainer{
    min-height: 100vh;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.header{
    background-color: rosybrown;
    position: fixed;
    top: 0;
    width: 100%;

    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a{
    text-decoration: none;
    color: black;
    margin-right: 2%;
}

.header > #logo-a{
    margin-left: 1%;
}

.header > button{
    margin-right: 2%;
}


.footer{
    background-color: rosybrown;
    position: fixed;
    bottom: 0;
    width: 100%;

    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > #contactUs{
    margin-left: 2%;
}

.footer > #copyright > span{
    font-size: 10px;
}

.footer > #socialMedia{
    margin-right: 2%;
}

#logo{
    height: 60px;
    width: 60px;
    margin-left: 1%;
}

.socialMediaImage{
    height: 20px;
    width: 22px;
}

.cityImage{
    height: 150px;
    width: 150px;
}
