#contentDiv img{
    max-height: 350px;
    max-width: 480px;
    padding: 2% 0;
}

#contentDiv{
    margin-top: 80px;
    margin-bottom: 100px;
}

form{
    height: 100%;
}

article{
    margin: 1% 4% 2% 4%;
}

article h4{
    font-family: cursive;
}

#button{
    padding: 2%;
}



#imageAndForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 400px;
    margin: 0 2%;
}

#image-div{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

form{
    margin-bottom: 1%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#form-div{
    flex-grow: 1;
    padding: 5px;
    border-left: 0px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
}

.list-Style{
    display: flex;
    padding: 0.5em;
}

.label-Style{
    flex: 1;
}

.input-Style{
    width: 60%;
}

.list-Style button{
    background-color: #e0e0e0;
    color: green;
    border: 1px solid green;
    position: absolute;

    transform: translate(150px);
}

.list-Style button:hover {    
    background-color: green;
    color: #e0e0e0;
}

.checked{
    color: orange;
}