#mainContainer{
    display: flexbox;
}

#search{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar > input{
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 400px;
    font-size: 16px;
    padding: 10px;
}

#searchBar > input:focus{
    outline: none;
}

#cityCards-Container{
    display: flex;
    justify-content: space-evenly;
    margin: 4% 0;
}

.cityImage{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px gray;
}

#contentDiv{
    margin-bottom: 100px;
}

#contentDiv > #viewMore > a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.city-card{
    position: relative;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .city-card:hover .overlay {
    opacity: 0.5;
  }
  
  .text {
    color: #f1f1f1;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }