#contentDiv #list-view img{
    height: 200px;
    width: 250px;
}

#contentDiv{
    margin-top: 80px;
    margin-bottom: 100px;
}

#list-view{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hotels-list{
    background-color: lightgray;
    width: 80%;

    display: flex;
}


#list-view a {
    text-decoration: none;
    color: black;
}

#contentDiv ul a{
    text-decoration: none;
    color: black;
    margin: 20px;
    font-weight: bold;
}

#contentDiv ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.hotel-content{
    margin: 10%;
}