#contentDiv img{
    height: 500ox;
    width: 500px;
}

#contentDiv{
    margin-top: 90px;
    margin-bottom: 100px;
}

#contentDiv > section > a{
    text-decoration: none;
    color: black;
}

#hotelDetails{
    background-color: rgb(132, 136, 139);
    height: 20%;
    width: 50%;
    margin: 2% auto;
}

#customerDetails{
    margin: 2%;
}

#tarrifDetails{
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2% 2%;
}